<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="dummyB1" connectionString="server=dummy;database=B1" />
        <add name="dummyB2" connectionString="server=dummy;database=B2" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>